/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
	margin: auto;
	margin-left: 300;
	width: 800px;
	border-style: solid;
	border-color: #ffd24a;
	border-width: 5px;
}

html {
	background-color: #dddddd;
}

#page_content {
	padding: 15px;
}

.wrapper {
	background-color: white;
}

#header {
	background-color: #ff8523;
	padding: 20px;
}

.main_navigation a {
	font-family: helvetica;
	text-decoration: none;
	color: white;
	font-weight: 15px;
}

section h2 {
	font-family: Helvetica;
	color: #1fabe5;
	font-weight: 20px;
}

section h3 {
	font-family: Helvetica;
	color: #1fabe5;
	font-weight: 15px;
}

section p {
	font-family: sans-serif;
	font-weight: 10px;
}

section strong {
	font-weight: 40px;
	color: black;
}

#firstlink {
	color: #1fabe5;
}

section ul {
	font-family: sans-serif;
	font-weight: 60;
}

#heading2 {
	color: #1fabe5
}

.heading3 td {
	color: white;
	background-color: #1fabe5;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 5px;
	font-family: Arial;
	font-weight: 10px;
}

td {
	border-style: solid;
	border-width: 2px;
	border-color: #1fabe5;
	font-family: Arial;
	padding: 10px;
}

table {
	border-collapse: collapse;
}

.img {
	height: 30px;
	width: 30px;
}

.bottom {
	background-color: #dddddd;
	padding: 15px;
}

.name {
	background-color: #ff8523;
	color: white;
	padding: 15px;
	padding-top: 20px; 
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 15px;
}

.city_container {
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 15px;
}

#why textarea {
	margin-top: 10px;
	padding: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #1fabe5;
}

.submit_container input {
	background-color: #1fabe5;
	color: white;
	font-family: arial;
	padding: 15px;
	border-style: none;
	border-radius: 8px;
	margin-top: 10px;
}




